body{
  font-family: Helvetica;
  text-align: center;
}
h1, h2, h3 {
  font-weight: bold;
}
.MainHeading {
background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
color: White
}
h1 {
  font-size: 70px
}
li {
  font-size: 18px;
  color: White;
  list-style-type: none;
  text-decoration-line: underline;
}
h2, h3, p {
  color: Gray
}
h2 {
  font-size: 32px
}
h3 {
  font-size: 23px
}
p {
  font-size: 14px
}
footer {
background-color: dimgray;
color: White;
font-size: 11px;
text-align: left;
}
#footer {
display: inline;
}
